* {
  box-sizing: border-box;
}

.marginTop {
  height: 50px;
  background-color: black;
}

.header {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  box-shadow: 0 0 5px 5px;
  width: 100%;
  height: 200px;
}
